h2{color: pink;}
p{color: rgb(32, 127, 156);}
button{color: rgb(255, 152, 152);
background-color: black;}
body{background-color: rgb(254, 255, 234);}
#heading1{color: brown;}
#heading2{color: rgb(25, 243, 72);}
#heading3{color: rgb(255, 0, 166);}